Bonus_UptimeMonitor_Ajay_Kumar.json
{
  "name": "Bonus_UptimeMonitor_Ajay_Kumar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutes": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-e1f2a3b4c5d6",
      "name": "Schedule 5m",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://demo.realworld.io",
        "options": {
          "neverError": true,
          "metadata": true
        }
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Ping Web App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.metadata.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9c0d-1e2f-3a4b5c6d7e8f",
      "name": "Is Status 200?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_CHAT_ID",
        "text": "=🚨 *ALERT: Conduit Web App is DOWN!* 🚨\n\n*URL:* https://demo.realworld.io\n*Status Code:* {{ $json.metadata.statusCode }}\n*Response Time:* {{ $json.metadata.responseTime }}ms\n*Alert Time:* {{ $now }}",
        "additionalFields": {}
      },
      "id": "d4e5f6a7-b8c9-0d1e-2f3a-4b5c6d7e8f9a",
      "name": "Post Down Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        940,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-cred",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: \"healthy\",\n    statusCode: $input.first().json.metadata.statusCode,\n    responseTimeMs: $input.first().json.metadata.responseTime,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "e5f6a7b8-c9d0-1e2f-3a4b-5c6d7e8f9a0b",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        380
      ]
    }
  ],
  "connections": {
    "Schedule 5m": {
      "main": [
        [
          {
            "node": "Ping Web App",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Web App": {
      "main": [
        [
          {
            "node": "Is Status 200?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status 200?": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Down Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
